@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #010101;
  font-family: Ubuntu, sans-serif;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

span,
i {
  color: red;
}

.flex {
  display: flex;
}

.note {
  margin: 3rem;
  color: #010101;
}

.note a {
  text-decoration: none;
  color: red;
}

.note a:hover {
  text-decoration: underline;
}

hr {
  width: 5rem;
  background-color: red;
}

.wrapper {
  margin-left: 20rem;
  height: 85%;
  width: 50vw;
  margin-top: 5rem;
  background: #fff;
  text-align: center;
}

.wrapper h1 {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 0;
}

.wrapper p {
  margin-top: 0;
  padding-top: 0;
}

/*       border-top-style: none;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: groove;
*/
.form-group input {
  width: 50%;
  margin: 0 auto;
}

.side-nav {
  height: 100%;
  width: 15rem;
  position: fixed;
  z-index: 1;
  top: 6rem;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.side-nav a:nth-child(1) {
  padding-top: 5rem;
}

.side-nav a {
  padding: 2rem;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

.side-nav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .side-nav {
    padding-top: 15px;
  }
  .side-nav a {
    font-size: 18px;
  }
}

.main {
  margin-left: 160px;
  /* Same as the width of the side-nav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-top: 10rem;
}

.top-nav {
  position: fixed;
  top: 0;
}

.top-nav h1 {
  margin-left: -5rem;
  margin-top: 2rem;
}

.top-nav ul {
  display: flex;
  margin-left: 50rem;
  margin-top: -3rem;
  list-style-type: none;
}

.top-nav ul li:nth-child(1) {
  font-size: 1.3rem;
}

.top-nav ul i {
  color: red;
  padding-right: .3rem;
}

.top-nav ul li {
  padding-left: 2rem;
}

.top-nav ul li a {
  text-decoration: none;
  color: #010101;
}

.money-display .flex {
  box-shadow: 12px 12px 2px 1px #f1f1f1;
  padding: 2rem;
}

.money-display i {
  padding-right: 2rem;
}

.get-loans .flex {
  align-items: center;
  justify-content: space-evenly;
}

.get-loans .class-1,
.get-loans .class-2 {
  box-shadow: 12px 12px 2px 1px #f1f1f1;
  padding: 2rem;
}

.get-loans .class-1 label,
.get-loans .class-1 h5,
.get-loans .class-2 label,
.get-loans .class-2 h5 {
  font-size: 1rem;
  color: #818181;
}

.get-loans .class-1 em,
.get-loans .class-2 em {
  font-size: .7rem;
  color: #818181;
  display: block;
}

.get-loans .class-1 input,
.get-loans .class-2 input {
  width: 100%;
}

.get-loans .div-button {
  margin: 3rem 0 3rem 25rem;
}

.log-in .login-form {
  margin-top: 3rem;
}

.log-in .login-form label {
  color: #818181;
}

.log-in .login-form .button-div {
  margin-top: 2rem;
}

.log-in .login-form .btn {
  width: 50%;
}

.log-in .login-form .btn a {
  color: #fff;
}

.log-in .login-form .btn a:hover {
  text-decoration: none;
}

.sign-up {
  height: 100%;
}

.sign-up form {
  margin-top: 3rem;
}

.sign-up .button-div {
  margin-top: 2rem;
}

.sign-up .button-div .btn {
  width: 50%;
}

.sign-up .button-div .btn a {
  color: #fff;
}

.sign-up .button-div .btn a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */