@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&display=swap");

$font: Ubuntu,
sans-serif;
//#818181
$black:#010101;
$white:#fff;
$grey:#c4c4c4;
$red:red;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: $black;
    font-family: $font;
}


textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
select:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}


span,
i {
    color: red;
}

.flex {
    display: flex;
}

.note {
    margin: 3rem;
    color: $black;

    a {
        text-decoration: none;
        color: red;

        &:hover {
            text-decoration: underline;
        }
    }
}

hr {
    width: 5rem;
    background-color: red;
}

.wrapper {
    // box-shadow: 12px 12px 2px rgb(0, 0, 255, .2);
    margin-left: 20rem;
    height: 85%;
    width: 50vw;
    margin-top: 5rem;
    background: $white;
    text-align: center;

    h1 {
        margin-top: 2rem;
        padding-top: 2rem;
        padding-bottom: 0;
    }

    p {
        margin-top: 0;
        padding-top: 0;

    }


}

.side-nav {
    display: block;
}

.side-nav-two {
    display: none;
}

.top-nav .side-nav-two-span {
    display: none;
}

// .side-nav-two {
//     display: none;
// }

@media (max-width:500px) {
    .top-nav .side-nav-two-span {
        display: block;
    }

    .top-nav .get-loan {
        display: none;
        // background-color: red;
    }
}

.side-nav-two {
    height: 100%;
    width: 15rem;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: $black;
    transition: 0.5s;
    top: 6rem;

    a:nth-child(1) {
        padding-top: 5rem;
    }

    a {
        padding: 2rem;
        text-decoration: none;
        font-size: 25px;
        // color: #818181;
        color: $white;
        display: block;
        transition: 0.3s;

        &:hover {
            color: #f1f1f1;
        }
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

}

@media (max-height: 450px) {
    .side-nav-two {
        padding-top: 15px;

        a {
            font-size: 18px;
        }
    }
}

/*       border-top-style: none;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: groove;
*/
// to make the input field a straight line

.form-group input {
    width: 50%;
    margin: 0 auto;
}


// side navigation and stuff

.side-nav {
    height: 100%;
    width: 15rem;
    position: fixed;
    z-index: 1;
    top: 6rem;
    left: 0;
    background-color: #111;
    overflow-x: hidden;

    // padding-top: 20px;
    a:nth-child(1) {
        padding-top: 5rem;
    }

    a {
        padding: 2rem;
        text-decoration: none;
        font-size: 25px;
        // color: #818181;
        color: $white;
        display: block;

        &:hover {
            color: #f1f1f1;
        }
    }
}

@media screen and (max-height: 450px) {
    .side-nav {
        padding-top: 15px;
    }

    .side-nav a {
        font-size: 18px;
    }
}

.main {
    margin-left: 160px;
    /* Same as the width of the side-nav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-top: 10rem;
}

.top-nav {
    position: fixed;
    top: 0;

    h1 {
        margin-left: -5rem;
        margin-top: 2rem;

    }

    ul {
        display: flex;
        margin-left: 50rem;
        margin-top: -3rem;
        list-style-type: none;

        li:nth-child(1) {
            //  padding-right: 2rem;
            font-size: 1.3rem;
        }

        i {
            color: red;
            padding-right: .3rem;
        }

        li {
            padding-left: 2rem;


            a {
                text-decoration: none;
                color: $black;
            }
        }
    }
}

// dashboard

.money-display {

    .flex {
        box-shadow: 12px 12px 2px 1px (#f1f1f1);
        padding: 2rem;
        //background: #818181 rgba(0, 0, 255, .2);
    }

    i {
        padding-right: 2rem;
    }

}

@media (max-width:768px) {

    .top-nav {
        h1 {
            margin-left: 5px;


        }

        ul {
            display: block;
            margin-right: 5rem;
            // margin-top: -3rem;
            list-style-type: none;

        }
    }

    .flex {
        //  background-color: blue;
        margin-left: 10rem;
        margin-bottom: 5rem;
    }

}

@media (max-width:500px) {
    .side-nav {
        display: none;
    }

    .flex {
        margin-left: -10rem;
    }
}

@media (max-width: 1024px) {
    .top-nav {
        h1 {
            margin-left: -1rem;
        }

        ul {

            li {
                margin-right: 15rem;
            }

        }
    }
}

// get loans

.get-loans {

    .flex {
        align-items: center;
        justify-content: space-evenly;

    }

    .class-1,
    .class-2 {
        box-shadow: 12px 12px 2px 1px (#f1f1f1);
        // color: blue;
        padding: 2rem;

        label,
        h5 {
            font-size: 1rem;
            color: #818181;
        }

        em {
            font-size: .7rem;
            color: #818181;
            display: block;
        }

        input {
            width: 100%;
        }
    }

    .div-button {
        margin: 3rem 0 3rem 25rem;
    }
}

@media (max-width: 800px) {
    .get-loans {
        .flex {
            display: block;
            margin-left: 3rem;
        }
    }
}


@media (max-width: 500px) {
    .get-loans {
        .flex {

            display: block;
            margin-left: -10rem;
        }

        .div-button {
            margin-left: -10rem;
        }
    }
}


// login

.log-in {

    .login-form {
        margin-top: 3rem;


        label {
            color: #818181;
            // font-weight: 400;
            // font-size: 1.3rem;
        }

        .button-div {
            margin-top: 2rem;
        }

        .btn {
            width: 50%;

            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width:500px) {
    .log-in {
        margin-left: 1rem;
        width: 100%;
    }
}

// sign-up

.sign-up {

    height: 100%;

    form {
        margin-top: 3rem;
    }

    .button-div {
        margin-top: 2rem;

        .btn {
            width: 50%;

            a {
                color: $white;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width:500px) {
    .sign-up {
        margin-left: 1rem;
        width: 100%;
    }
}

@media (max-width:800px) {
    .sign-up {
        margin-left: 1rem;
        width: 100%;
    }
}